* {
    padding: 0;
}

.container {
    width: 280px;
}

.cards__container {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.card__item {
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
}

.card__active {
    opacity: 1;
    border: 1px rgb(16, 173, 63) solid;
}

.card__maestro {
    background-image: url('../img/1-maestro.png');
}

.card__mastercard {
    background-image: url('../img/2-master-card.png');
}

.card__mir {
    background-image: url('../img/3-mir.png');
}

.card__visa {
    background-image: url('../img/4-visa.png');
}

.card__american__express {
    background-image: url('../img/5-american-express.png');
}

.card__text {
    position: fixed;
    transform: scale(0);
}